{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<a href="{% url 'singleProduto' product.id %}">
				<img class="thumbnail" src="{{product.imageURL}}">
			</a>
			<div class="box-element product">
				<a href="{% url 'singleProduto' product.id %}">
					<h6><strong>{{product.name}}</strong></h6>
				</a>
				<hr>

				<a class="btn btn-outline-success" href="{% url 'singleProduto' product.id %}">Ver</a>
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				<h4 style="display: inline-block; float: right"><strong>R${{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}